<div id="<%= dom_id insurance %>" style="padding:0.5em; background-color:silver; margin: 0.5em;">
  <p>
    <strong>insurance:</strong>
    <%= insurance.kind_of_insurance %>
  </p>
  <p>
    <strong>date:</strong>
    <%= insurance.date %>
  </p>

  <p>
    <strong>insecrower:</strong>
    <%= insurance.insecrower %>
  </p>

  <p>
    <strong>car:</strong>
    <%= insurance.car %>
  </p>

  <p>
    <strong>sum_insured:</strong>
    <%= insurance.sum_insured %>
  </p>

  <p>
    <strong>paid:</strong>
    <%= insurance.paid %>
  </p>
  <p>
    <strong>franchise:</strong>
    <%= insurance.franchise %>
  </p>
  <p>
    <strong>tariff:</strong>
    <%= insurance.tariff %>
  </p>
  <p>
    <strong>term_of_the_contract:</strong>
    <%= insurance.term_of_the_contract %>
  </p>
  <p>
    <strong>description:</strong>
    <%= insurance.description %>
  </p>
  <p>
    
    <strong>credit:</strong>
    <%= insurance.credit %>
  </p>
</div>
<hr>
